
@media (min-width: 1230px){
	/*.container {
	    width: 1230px;
	}*/
}
@media (max-width:991px) {
    .menu-responsive{
        display: block;
    }
    .mainmenu, .header-top{
        display: none;
    }
	.experience .experItems img{
		max-height:142px;
	}
}

@media (max-width:767px) {
	a.carousel-control, .caption-slide{
		display: none;
	}
	.carousel-indicators li, .carousel-indicators li.active{
		height: 20px;
		width: 20px;
		line-height: 20px;
		font-size: 12px;
	}
	.carousel-indicators{
		bottom:0px;
	}
}

@media (max-width:480px) {

}

